@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  box-sizing: border-box;

}

body {
  background: brown;
  display: flex;
  padding-top: 10vmin;
  justify-content: center;
}
.sedan-div {
  padding: 8vmin;
  width: 21vw;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);

}
h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  font-size: 2.5vmax;
}
p {
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 25px;
  font-size: 1vmax;
}
.sedan-div button {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8vmax;
  background: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  margin-top: 10vmin;
  padding: 1em 2em;
}
.sedan-div button:hover {
  color: hsl(0, 0%, 95%);
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  background: hsl(31, 77%, 52%);
  cursor: pointer;
}
.suv-div {
  width: 30vw;
  background: grey;
}
.luxury-div {
  width: 30vw;
  background: orange;
}
