@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  padding-top: 10vmin;
  justify-content: center;
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  font-size: 2.5vmax;
  color: hsl(0, 0%, 95%);
}
p {
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 25px;
  font-size: 1vmax;
}

.sedan-div {
  padding: 8vmin;
  width: 21vw;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: hsl(31, 77%, 52%);
}
.sedan-div button {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8vmax;
  background: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  margin-top: 10vmin;
  padding: 1em 2em;
}
.sedan-div button:hover {
  color: hsl(0, 0%, 95%);
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  background: hsl(31, 77%, 52%);
  cursor: pointer;
}

.suv-div {
  padding: 8vmin;
  width: 21vw;
  background: hsl(184, 100%, 22%);

}
.suv-div button {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8vmax;
  background: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  margin-top: 10vmin;
  padding: 1em 2em;
}
.suv-div button:hover {
  color: hsl(0, 0%, 95%);
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  background: hsl(184, 100%, 22%);
  cursor: pointer;
}

.luxury-div {
  padding: 8vmin;
  width: 21vw;
  background: hsl(179, 100%, 13%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.luxury-div button {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8vmax;
  background: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  margin-top: 10vmin;
  padding: 1em 2em;
}
.luxury-div button:hover {
  color: hsl(0, 0%, 95%);
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  background: hsl(179, 100%, 13%);
  cursor: pointer;
}

@media (max-width: 500px) {
  body {
    display: flex;
    background: brown;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 6vmin;
  }
  p {
    line-height: 1.5em;
    font-size: 3vmin;
  }

  .sedan-div {
    padding: 8vmin;
    width: 70vw;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .sedan-div button {
    font-size: 2vmin;
    margin-top: 5vmin;
    padding: 1em 2em;
  }

  .suv-div {
    padding: 8vmin;
    width: 70vw;
    border-radius: 0;
  }
  .suv-div button {
    font-size: 2vmin;
    margin-top: 5vmin;
    padding: 1em 2em;
  }

  .luxury-div {
    padding: 8vmin;
    width: 70vw;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .luxury-div button {
    font-size: 2vmin;
    margin-top: 5vmin;
    padding: 1em 2em;
  }

}
